.idea
*.iml
target
result
tests/**/repo.nix
tests/*/repo.nix

# sbtix tests generate these files at runtime; they should not be checked in.
tests/**/sbtix.nix
tests/**/sbtix-plugin-repo.nix
.ensime_cache
.ensime
.bloop
.bsp
.metals
metals.sbt
.vscode
.DS_STORE

.cache
.sbt
.sbt-boot
.sbt-global
.coursier-cache
.ivy2-home
